.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.chat_list {
  height: 100vh;
  background-color: blue;
}
.chat_users {
  height: 100vh;
  background-color: green;
}
.text_feild {
  width: 73.3vw;
  border: 0px;
}
